# Python cache
__pycache__/
*.pyc
*.pyo

# Logs
*.log

# Virtual environments
.venv/
venv/

# IDE settings
.vscode/
.idea/

# Git
.git/

# Tests (exclude tests)
tests/

# Local env files
.env
.env.*

# Frontend trash
node_modules/

# OS junk
.DS_Store

# Alembic — НЕ ІГНОРУЄМО alembic.ini або alembic/
# Можна лише ігнорувати кеш:
alembic/__pycache__/
alembic/versions/__pycache__/

# Dev files
requirements.dev.txt
docker-compose.dev.yml
Dockerfile.dev
*.dev
