services:
  frontend:
    image: pipinovi4/frontend-production:latest
    container_name: frontend
    restart: unless-stopped
    env_file:
      - .env.frontend
    expose:
      - "3000"
    networks:
      - app_net
    depends_on:
      - backend

  backend:
    image: pipinovi4/backend-production:latest
    container_name: backend
    restart: unless-stopped
    env_file:
      - .env.backend
    expose:
      - "8000"
    networks:
      - app_net
    depends_on:
      - frontend
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8000/docs"]
      interval: 20s
      timeout: 5s
      retries: 5

networks:
  app_net:
    driver: bridge
