services:
  nginx:
    image: nginx:1.25
    container_name: nginx
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./nginx.dev.conf:/etc/nginx/nginx.conf:ro
      - ./frontend:/var/www/frontend
    depends_on:
      - frontend
      - backend
    networks:
      - app_net

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile.dev
    container_name: frontend
    restart: unless-stopped
    env_file:
      - .env
    volumes:
      - ./frontend:/app
    networks:
      - app_net

  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile.dev
    container_name: backend
    restart: unless-stopped
    env_file:
      - .env
    command: >
      uvicorn app.main:app --reload --host 0.0.0.0 --port 8000
    volumes:
      - ./backend:/app
    depends_on:
      - postgres
      - rabbitmq
    networks:
      - app_net

  bot:
    build:
      context: ./bot
      dockerfile: Dockerfile.dev
    container_name: bot
    restart: unless-stopped
    env_file:
      - .env
    volumes:
      - ./bot:/app
    depends_on:
      - rabbitmq
    networks:
      - app_net

  rabbitmq:
    image: rabbitmq:3.13-management
    container_name: rabbitmq
    restart: unless-stopped
    environment:
      RABBITMQ_DEFAULT_USER: ${RABBITMQ_USER}
      RABBITMQ_DEFAULT_PASS: ${RABBITMQ_PASS}
    ports:
      - "5672:5672"    # AMQP
      - "15672:15672"  # RabbitMQ UI
    networks:
      - app_net

  postgres:
    image: postgres:18
    container_name: postgres
    restart: always
    environment:
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: ${DB_NAME}
    ports:
      - "5433:5432"
    volumes:
      - ./pgdata:/var/lib/postgresql
    networks:
      - app_net

networks:
  app_net:
    driver: bridge

volumes:
  pgdata:
