services:
  frontend:
    image: pipinovi4/frontend-production:latest
    container_name: frontend
    restart: unless-stopped
    env_file:
      - .env.frontend
    ports:
      - "127.0.0.1:3000:3000"
    networks:
      - app_net

  backend:
    image: pipinovi4/backend-production:latest
    container_name: backend
    restart: unless-stopped
    env_file:
      - .env.backend
    ports:
      - "127.0.0.1:8000:8000"
    networks:
      - app_net
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8000/docs"]
      interval: 20s
      timeout: 5s
      retries: 5

networks:
  app_net:
    driver: bridge
